.banner {
  display: flex;
  justify-content: center;

  margin: 0 auto;
}

.post {
  margin-top: 5rem;

  h1 {
    font-size: 3rem;
    font-weight: 700;
  }

  .info {
    margin-top: 1.5rem;

    display: flex;
    flex-direction: row;

    div + div {
      margin-left: 1.5rem;
    }

    div {
      display: flex;
      align-items: center;

      svg {
        width: 20px;
        height: 20px;
      }

      span {
        margin-left: 0.5rem;
        color: var(--info);
        font-size: 0.875rem;
        font-weight: 400;
      }
    }
  }

  .edited {
    margin: 1rem 0;
    span {
      font-size: 0.875rem;
      color: var(--info);
    }
  }

  .postContent {
    margin-top: 3.75rem;
    text-align: justify;

    h2 {
      font-weight: 700;
      font-size: 2.25rem;
    }

    p, ul {
      margin: 1.5rem 0;
    }
  }
}

.footer {
  margin: 3.75rem 0;
  padding-top: 3rem;
  border-top: 1px solid rgba(215, 215, 215, 0.1);

  .previousAndNextPosts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 4rem;

    div + div {
      text-align: right;
    }

    p {
      color: var(--heading);
      font-size: 1.125rem;
      margin-bottom: 0.5rem;
    }

    a {
      background: transparent;
      border: 0;
      color: var(--highlight);
      font-size: 1rem;
      font-weight: 600;
    }
  }
}
